p{
  font-size: 1.5rem;
}
h1,
h2{
  text-align: center;
}
body{
  background-color: #ccc;
}
ul{
   list-style-type: korean-hangul-formal;
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}

#banner{
  width: 100%;
}
#parte-2{
  background-color: #FFF;
}

.imagens{
  width: 50%;
}
